@import "mi-nav.css";
@import "mi-footer.css";
@import "listas.css";

:root {
  font-family: sans-serif;
  --col-active: #4646462c;
  --color-header: white;
  --colorMiNav: white;
}

body {
  max-width: 640px;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: white;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color:
    var(--color-header);
}

.herramientas {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  align-content: flex-end;
  justify-content: flex-end;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
}

header input {
  flex-grow: 1;
}

h1 {
  margin: 0.5rem 0;
}

figure img {
  max-width: 100%;
  border-radius: 50%;
}

legend,
p label {
  display: block;
  font-weight: bold;
  font-size: 0.7rem;
}

p label>* {
  display: block;
  font-weight: normal;
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
}



button{
  float:right;
  padding:6px 10px;
  margin:8px 0 0;
  sans-serif;
  border-radius:12px;
  background:0;
  background-color: lightblue;
  cursor:pointer;
  transition:all .3s}

  mi-nav{
  background-color: lightblue;
  width: auto;
  color: black;
  }

    mi-nav a{
    text-decoration:none;
    color:black;
    font-size:14px;
    } 
    mi-nav li{
    display:inline-block;
    width:60px;
    height: 20px;
    padding:5px 10px;
    /*background-color:lightpink;
    border:1px solid black;*/
    text-align:center;
    color:#fff;
    }



    mi-nav li:hover{
    background-color:lightgray;
    color:#000;
    }


    mi-footer{
    /*padding:5px 10px;*/
    background-color: lightblue;
    width:600px;
    height:40px;
    }
