@import "mi-nav.css";
@import "mi-footer.css";
@import "listas.css";

:root {
  font-family: sans-serif;
  --col-active: #4646462c;
  --color-header: white;
  --colorMiNav: white;
}

body {
  max-width: 640px;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: white;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color:
    var(--color-header);
}

.herramientas {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  align-content: flex-end;
  justify-content: flex-end;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
}

header input {
  flex-grow: 1;
}

h1 {
  margin: 0.5rem 0;
}

figure img {
  max-width: 100%;
  border-radius: 50%;
}

legend,
p label {
  display: block;
  font-weight: bold;
  font-size: 0.7rem;
}

p label>* {
  display: block;
  font-weight: normal;
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
}



button{
  float:right;
  padding:6px 10px;
  margin:8px 0 0;
  sans-serif;
  border-radius:12px;
  background:0;
  background-color: lightblue;
  cursor:pointer;
  transition:all .3s
}

.menu ul {

                               display: flex;

                               padding: 0;

                               margin: 0;

                               list-style: none;

                }

.menu a {

                               display: block;

                               padding: 0.5em;

                               background-color: #F9B53C;

                               text-decoration: none;

                               color: #191C26;

                }

.menu a:hover {

                               background-color: #CC673B;

                }

.menu ul li ul {

                               display: none;

                }

.menu ul li a:hover + ul, .menu ul li ul:hover {

                               display: block;

                }

